@import "../../styles//variables.scss";

.container {
  display: flex;
  gap: 40px;
  padding: 0 30px;
  .left_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        color: $color-secondary;
        text-align: start;
        // font-family: Megafield;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.25;
      }
      p {
        color: $color-tertiary;
        font-family: $font-lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
  .right_container {
    display: flex;
    gap: 40px;
    .image_container {
      .image {
        object-fit: cover;
        border-radius: 10px;
        height: 200px;
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .left_container {
      gap: 10px;
      .description {
        gap: 10px;
      }
    }
    .right_container {
      .image_container {
        .image {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    gap: 30px;
    .left_container {
      gap: 5px;
      .description {
        gap: 10px;
        h1 {
          font-size: 24px;
        }
      }
    }
    .right_container {
      gap: 30px;
      .image_container {
        .image {
          width: 130px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 15px;
    .left_container {
      gap: 20px;
      .description {
        h1 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
      .social_media {
        display: flex;
        justify-content: center;
        .social_media_icon {
          display: flex;
          gap: 30px;
        }
      }
    }
    .right_container {
      justify-content: center;
      .image_container {
        .image {
          width: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .right_container {
      .image_container {
        .image {
          width: min(150px, 27vw);
        }
      }
    }
  }
}
