@import "../../../styles//variables.scss";

.container {
  display: flex;
  width: 100%;
  gap: min(100px, 6vw);
  padding: 0 30px;
  .description {
    width: 50%;
    .contact_info {
      margin-top: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      h1 {
        text-align: start !important;
      }
      p {
        text-align: start;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    h1 {
      text-align: center;
      color: $color-secondary;
      // font-family: Megafield;
      font-size: 34px;
      font-weight: 700;
      line-height: 1.25;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 185px;
      height: 45px;
      background-color: transparent;
      color: $color-secondary;
      font-size: 16px;
      font-weight: 400;
      padding: 5px 15px;
      gap: 8px;
      border-radius: 4px;
      border: 1px solid $color-secondary;
      &:hover {
        transition: 0.5s;
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }
}

// @media screen and (max-width: 992px) {
//   .container {
//     flex-direction: column;
//     .description {
//       width: 100%;
//     }
//     .form {
//       width: 100%;
//     }
//   }
// }

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 0 30px;
    .contact_form {
      // padding: 0 15px;
    }
    .description {
      width: 100%;
      .contact_info {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    .description {
      .contact_info {
        padding: 0 15px;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }
}
