@import "../../../styles/variables.scss";
.container {
  display: flex;
  gap: 50px;
  padding: 0 30px;
  margin-top: 50px;
  width: 100vw;
  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background: $color-tertiary;
    padding: 20px;
    .profile {
      display: flex;
      justify-content: space-between;
      .left_container {
        display: flex;
        gap: 10px;
        .image_container {
          .image {
            border-radius: 40px;
          }
        }
        .name {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h1 {
            color: $color-primary;
            text-align: start;
            font-family: $font-lato;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.25;
          }
          .location_container {
            display: flex;
            gap: 10px;
            p {
              color: $color-primary;
              text-align: center;
              font-family: $font-lato;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
            }
            span {
              color: $color-primary;
              text-align: center;
              font-family: $font-lato;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
      .right_container {
        .rating {
          p {
            color: $color-primary;
            font-family: $font-lato;
            text-align: end;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
    }
    .description {
      p {
        color: $color-primary;
        font-family: $font-lato;
        text-align: start;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
