.container {
  .culture {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .culture {
      margin-top: 50px;
      padding: 0 15px;
      h1 {
        font-size: 22px !important;
      }
    }
  }
}
