$color-primary: #ffe7b9;
$color-secondary: #9d6716;
$color-tertiary: #1c0802;
$color-background: #fff6f1;
$color-black: #000000;
$color-red: #be2424;
$color-white: #ffffff;
$color-brown: #3b3b3b;
$color-highlight: #433520;
$color-section: #fff2d8;

//fonts
$font-lato: "Lato";
// $font-mega: sans-serif;
