@import "../../styles/variables.scss";

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
  gap: 20px;
  background-color: $color-tertiary;
  .title {
    h1 {
      color: $color-primary;
      text-align: center;
      //   font-family: Megafield;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25;
    }
  }
  .desc {
    p {
      color: $color-primary;
      text-align: center;
      font-family: $font-lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      background-color: transparent;
      padding: 13px 6px 12px 40px;
      border-radius: 5px;
      border: 1px solid $color-primary;
      color: $color-primary;
      // font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-weight: 600;
      &:hover {
        background-color: $color-primary;
        color: $color-tertiary;
        transition: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .title {
      h1 {
        font-size: 22px;
      }
      .desc {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
