.container {
  padding: 22px 100px;
  margin-top: 50px;
  .heading {
    font-size: 40px;
    // background-color: rebeccapurple;
    font-weight: bold;
    font-weight: 700;
    margin-top: 40px;
  }
  .desc {
    font-size: 18px;
    width: 100%;
    // background-color: red;
    line-height: 26px;
    color: black;
  }
  .list {
    font-size: 16px;
    line-height: 24px;
    li {
      color: black;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .policy_container {
    padding: 40px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 10px 20px;
    .heading {
      font-size: 30px;
      font-weight: 600;
      margin: 15px 0px 5px 0px;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 18px;
      width: 100%;
      // background-color: red;
      line-height: 26px;
      color: black;
    }
    p,
    li {
      font-weight: 400;
    }
    .desc {
      margin-top: 5px !important;
    }
    ul {
      padding-left: 1rem;
    }
  }
}
