@import "../../styles/variables.scss";

.accordion_container {
  .title_container {
    .title_text {
      margin-top: 50px;
      justify-content: center;
      h1 {
        line-height: 1.5;
      }
      p {
        width: 550px;
      }
    }
  }
  .faq_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }
}

.container {
  width: 50%;
  margin-top: 50px;
  list-style-type: none;
  .faq_container {
    // width: 500px;
    // background-color: red;
    .accordion_btn {
      display: flex;
      gap: 20px;
      cursor: pointer;
      width: 100%;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #9d6716;
      font-family: $font-lato;
      font-size: 22px;
      font-weight: 500;
      background-color: transparent;
      .btn_content {
        h3 {
          font-size: 22px;
          text-align: start;
        }
      }
      .icon {
        font-size: 20px;
        stroke-width: 50;
        color: #1c0802;
      }
    }
    .accordion_body {
      padding: 20px 0;
      p {
        font-family: $font-lato;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title_container {
    .title_text {
      justify-content: center;
      padding: 0 15px;
      p {
        width: 350px;
      }
    }
  }

  .container {
    width: 100%;
    padding: 0 15px !important;
    .faq_container {
      h3 {
        font-size: 18px !important;
      }
      .accordion_body {
        p {
          font-size: 16px !important;
        }
      }
    }
  }
}
